.signUpForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    padding: 50px;
    background-color: goldenrod;
}

.signUpForm > ul {
    padding: 5px;
}

.signUpSubmit {
    background-color: black;
    color:antiquewhite;
    /* margin: 10px; */
    border: solid;
    width: 140px;
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
    font-size:medium;
    font-weight: bold;
}

.signUpSubmit:hover {
    background-color: antiquewhite;
    color: black;
}

 .signupModalButton {
    background-color: black;
    color: white;
    margin: 10px;
    border: solid;
    /* width: 500px; */
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

.signupModalButton:hover {
    background-color: antiquewhite;
    color: black;
}

input {
    border-radius: 10px;
}
