body {
    font-style: strong;
}

.spotListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listContainer {
    border: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: 15px;
    padding: 15px;
    margin-left: 400px;
    margin-right: 400px;
    width: 500px;
    background-color: goldenrod;
    box-shadow: 10px 5px 5px white;
    font-style: strong;
    color: black;
}

.listImage {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.listDetail {
    display: flex;
    /* padding: ; */
    /* justify-content: space-between; */
}

.subListDetail {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 900px) {
    .listContainer {
      margin: auto;
    }
  }
