.reviewFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid;
    border-radius: 10px;
    width: 350px;
    height: 200px;
    padding: 50px;
    padding-top: 10px;
    color: black;
    background-color: goldenrod;
}

.createReviewButton {
    background-color: black;
    color:antiquewhite;
    margin: 10px;
    border: solid;
    /* width: 500px; */
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
    font-size:medium;
    font-weight: bold;
}

.createReviewButton:hover {
    background-color: antiquewhite;
    color: black;
}


.reviewInput {
    /* height: 100px; */
    resize: none;
    border-radius: 5px;
    background-color: antiquewhite;
    font-size: medium;
    overflow: visible;
}

.reviewModalButton {
    background-color: goldenrod;
    margin: 10px;
    border-radius: 30px;
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.reviewModalButton:hover {
    background-color: black;
    border-color: goldenrod;
    color: antiquewhite;
}
