.reviewListTitle {
    color: goldenrod;
}

.individualReview {
    border: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px;
    padding: 15px;
    /* margin-left: 400px;
    margin-right: 400px; */
    width: 500px;
    background-color: goldenrod;
    box-shadow: 10px 5px 5px white;
    font-style: strong;
    color: black;
}
