.footer-body-div {
    height: 40px;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: goldenrod;
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    opacity: 0.8;

  }

  .about-menu-label-div {
    margin-right: 100px;
  }

  .fa-brands.fa-github {
    font-size: large;
  }

  .fa-brands.fa-linkedin {
    font-size: large;
  }

  .about-li {
    padding: 0 10px;
  }
  .about {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 8px 0;
  }

  .about-icons {
    display: flex;
  }

  .about-github,
  .about-linkedin {
    margin: 0 5px;
    color: black;
  }

  .about-github:hover,
  .about-linkedin:hover {
    cursor: pointer;
    color: white;
  }
