@media screen and (min-width: 400px) {
.editForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid;
    border-radius: 10px;
    width: 350px;
    height: 420px;
    padding: 50px;
    padding-top: 10px;
    color: black;

    background-color: goldenrod;

}

.cancel-form-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: black;
    color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    border: solid;
}

.cancel-form-button:hover {
    background-color: antiquewhite;
    color: black;
}

.edit-city-state {
    margin-bottom: 5px;
}

.editSubmit {
    background-color: black;
    color:antiquewhite;
    /* margin: 10px; */
    border: solid;
    width: 340px;
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
    font-size:medium;
    font-weight: bold;
}

.editSubmit:hover {
    background-color: antiquewhite;
    color: black;
    border-color: black;
}

.editDetailButton {
    background-color: goldenrod;
    margin: 10px;
    border-radius: 30px;
    font-size: medium;
    font-weight: bold;
}

.editDetailButton:hover {
    background-color: black;
    border-color: goldenrod;
    color: antiquewhite;
}

.editFormContainer {
    color: white;
}

.editSpotInput {
width: 330px;
margin-bottom: 10px;
}

}


@media screen and (max-width: 400px) {
    .editForm {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 5px solid;
        border-radius: 10px;
        width: 350px;
        height: 420px;
        padding: 50px;
        padding-top: 10px;
        color: black;

        background-color: goldenrod;

    }

    .editSubmit {
        background-color: black;
        color:antiquewhite;
        /* margin: 10px; */
        border: solid;
        width: 340px;
        border-radius: 30px;
        padding-right: 20px;
        padding-left: 20px;
        font-size:medium;
        font-weight: bold;
    }

    .editSubmit:hover {
        background-color: antiquewhite;
        color: black;
        border-color: black;
    }

    .editDetailButton {
        background-color: goldenrod;
        margin: 10px;
        border-radius: 30px;
        font-size: medium;
        font-weight: bold;
    }

    .editDetailButton:hover {
        background-color: black;
        border-color: goldenrod;
        color: antiquewhite;
    }

    .editFormContainer {
        color: white;
    }

    .editSpotInput {
    width: 330px;
    margin-bottom: 10px;
    }

    }
