.editForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    padding: 50px;
    padding-top: 10px;
    color: black;

    background-color: goldenrod;

}

.editSubmit {
    background-color: black;
    margin: 10px;
    border-radius: 30px;
    color: white;
    /* padding-right: 50px;
    padding-left: 50px; */
}

.editDetailButton {
    background-color: goldenrod;
    margin: 10px;
    border-radius: 30px;
}

.editFormContainer {
    color: white;
}
