.signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid;
    border-radius: 30px;
    width: 350px;
    height: 150x;
    padding: 10px;
    background-color: aqua;
}
