body {
    background-color: black;
    /* color: white; */
}

.pageTitle {
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
}

.navBar {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-around;
    align-items: center;
    /* align-items: center; */
    /* margin-top: 200px; */
    /* background-color: black; */
    font-size: 25px;
    background-color: goldenrod;
    padding: 30px;
    border-radius: 10px;
    margin-top: 0;
    height: 50px;
    opacity: 0.8;
    /* color: white; */

}

.sessionLinks {
    display: flex;
    padding: 10px;
    width: 150px;
    justify-content: space-around;

}

.logo {
    width: 75px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black ;
}
/* .logo > a {
    display: flex;
    align-items: center;
    justify-content: center;

} */

.loggedOutUserNav {
    display: flex;
    justify-content: space-between;
    border: black solid;
    border-radius: 5px;
    /* color: goldenrod; */
    background-color: whitesmoke;
}

h1 {
    display: flex;
    justify-content: center;
}

.profile-dropdown{
    display: flex;
    flex-direction: column;
    height: 100px;
}
