body {
    background-color: black;
    font-style: strong;
    /* color: white; */
    font-weight: bold;
}

.hostButton {
    background-color: black;
    color:antiquewhite;
    /* margin: 10px; */
    border: solid;
    /* width: 500px; */
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
    font-size:medium;
    font-weight: bold;
    width: 140px;
}

.hostButton:hover .nav-link {
    background-color: antiquewhite;
    color: black;

}
.nav-link {
    text-decoration: none;
    background-color: black;
    color:antiquewhite;
    border: solid;
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
    font-size:medium;
    font-weight: bold;

}

.nav-link:hover {
    color: black;
    background-color: antiquewhite;

}

.profileButton {
    background-color: black;
    color: antiquewhite;
    font-size: medium;
    padding: 15px;
    border-radius: 10px;
    border: solid;
    position: fixed
    top50, right100,;
    border-color: antiquewhite;
    box-shadow: 10px 5px 5px black
}

.profileButton:hover {
    box-shadow: 10px 5px 5px red;
}

.pageTitle {
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
    box-sizing: border-box;
    justify-self: center;
    padding-left: 0px;
}

.profileContainer > button {
    width: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: none;
}

.navBar {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    background-color: goldenrod;
    padding: 30px;
    border-radius: 10px;
    margin-top: 0;
    height: 60px;
    opacity: 0.8;
}

.navBar > a {
    text-decoration: none;
    color: inherit;
}

.profileItem {
    margin-top: 10px;

}

.sessionLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: medium ;
    height: 20px;
}

.logo {
    width: 75px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black ;
}

.logo:hover {
    box-shadow: 10px 5px 5px red;
}

.profileContainer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.loggedOutUserNav {
    height: 45px;
    width: 50px;
    /* margin-right: 50px; */
}

.loggedInUserNav {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    border-radius: 10px;
    font-size: medium;
    background-color: goldenrod;
    height: 30px;
}


.profile-dropdown{
    /* margin-top: 30px; */
    border: black solid;
    border-radius: 10px;
    height: 125px;
    background-color: goldenrod;
    padding: 30px;
    padding-top: 5px;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.profile-dropdown > ul {
    list-style: none;

}

.logoutButton {
    background-color: black;
    color:antiquewhite;
    /* margin: 10px; */
    border: solid;
    width: 140px;
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
    font-size:medium;
    font-weight: bold;
}

.logoutButton:hover {
      background-color: antiquewhite;
    color: black;
}

@media screen and (max-width: 1540px) {
    body {
        /* background-color: hotpink; */
    }

    .detailImageContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border-top-right-radius: 10px; */
    }

    .detailImage1 {
        width: 500px;
        height: 400px;
        border-top-left-radius: 10px ;
        border-top-right-radius: 10px ;
        /* border-bottom-left-/: 0px; */
    }

    .detailImage2 {
        width: 500px;
        height: 400px;
    }

    .detailImage3 {
        width: 500px;
        height: 400px;
        border-top-right-radius: none ;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

    }

    .sub-top-detail{
        display: flex;
        flex-direction: row;
        width: 600px;
        justify-content: space-between;
        /* width: 700px; */
    }


}
