.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid;
    border-radius: 10px;
    width: 350px;
    height: 300px;
    padding: 50px;
    background-color: goldenrod;
}



.loginSubmit {
    background-color: black;
    color:antiquewhite;
    /* margin: 10px; */
    border: solid;
    width: 140px;
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
    font-size:medium;
    font-weight: bold;
}

.loginSubmit:hover {
    background-color: antiquewhite;
    color: black;
}

.loginModalButton {
    background-color: black;
    color:white;
    margin: 10px;
    border: solid;
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

.loginModalButton:hover {
    background-color: antiquewhite;
    color: black;
}
